.titlebar {
  display: flex;
  background-color: $tb-main;
  justify-content: flex-start;
  align-items: center;
  -webkit-app-region: drag;
  height: $tb-height;

  &_title {
    padding: 10px 8px 6px 8px;
    font-size: 12px;
  }

  &_menu {
    flex-grow: 1;
    align-self: stretch;
  }

  &_window-control {
    align-self: stretch;
    background-color: $tb-main;
    flex-basis: 150px;
    display: flex;
    -webkit-app-region: no-drag;
    user-select: none;

    & img {
      filter: invert($tb-col-bght);
    }

    & div {
      flex-basis: 130px;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: pink;
      }

      &:hover:last-child {
        background-color: $tb-close;
      }
    }
  }
}
