@font-face {
  font-family: OpenSanSB;
  src: url ("../fonts/OpenSansSemiBold.ttf");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0%;
  font-family: OpenSanSB, sans-serif;
  font-weight: 600;
  font-size: $if-fs;
}
